<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台登录</title>
	<meta name="renderer" content="webkit">	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">	
	<meta name="apple-mobile-web-app-capable" content="yes">	
	<meta name="format-detection" content="telephone=no">	
	<!-- load css -->
	<link rel="stylesheet" type="text/css" href="./Public/Admin/login_style/common/layui/css/layui.css" media="all">
	<link rel="stylesheet" type="text/css" href="./Public/Admin/login_style/css/login.css" media="all">
</head>
<body>
<div class="layui-canvs"></div>
<div class="layui-layout layui-layout-login">
	<h1>
		 <strong>后台管理系统</strong>
		 <small>Management System</small>
	</h1>

	<!--登录表单-->
	<form action="index.php?p=Admin&c=Login&a=check" method="post">
	<!--用户名-->
	<div class="layui-user-icon larry-login">
		 <input type="text" name="username" placeholder="账号" class="login_txtbx"/>
	</div>
	<!--密码-->
	<div class="layui-pwd-icon larry-login">
		 <input type="password" name="password" placeholder="密码" class="login_txtbx"/>
	</div>
	<!--验证码-->
    <div class="layui-val-icon larry-login">
    	<div class="layui-code-box">
    		<input type="text" id="code" name="captcha" placeholder="验证码" maxlength="4" class="login_txtbx">
            <img src="index.php?p=Admin&c=Captcha&a=index" alt="验证码" class="verifyImg" id="verifyImg" onclick="this.src='index.php?p=Admin&c=Captcha&a=index&'+Math.random()">
    	</div>
    </div>
	<!--记住登录-->
	<div>
		<label>
		<input type="checkbox" name="remember">
		<span style="color: #5cbdaa">Remember me?</span>
		</label>
	</div>
	<!--提交登录信息-->
    <div class="layui-submit larry-login">
    	<input type="submit" value="立即登陆" class="submit_btn"/>
    </div>
	</form>

    <div class="layui-login-text">
    	<p>© 2017-2018 PHP-1206 版权所有</p>
        <p>喵喵喵喵喵</p>
    </div>
</div>
<script type="text/javascript" src="./Public/Admin/login_style/common/layui/lay/dest/layui.all.js"></script>
<script type="text/javascript" src="./Public/Admin/login_style/js/login.js"></script>
<script type="text/javascript" src="./Public/Admin/login_style/jsplug/jparticle.jquery.js"></script>
<script type="text/javascript">
$(function(){
	$(".layui-canvs").jParticle({
		background: "#141414",
		color: "#E6E6E6"
	});
	//登录链接测试，使用时可删除
//	$(".submit_btn").click(function(){
//	  location.href="index.html";
//	});
});
</script>
</body>
</html>